{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form name="user" class="form-horizontal"  method="POST">
                <fieldset>
                    <legend>Unit Count</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_username">Unit Amount</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(form.count) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_username">Unit Type</label>
                        <div class="col-sm-4 ">
                            {{ form_widget(form.unitName) }}
                        </div>
                    </div>
                    <div>
                        {{ form_widget(form._token) }}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

