{% extends 'base.html.twig' %}

{% block main %}
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ path('base_structure') }}">View Structures</a></li>
        <li><a href="{{ path('base_units_view') }}"> View Battle Units</a></li>
    </ul>
{% endblock %}

